.header{
	background: #138063;
	position: relative;
	font-size: 25px;
	color: #fff;
	font-family: 'Arial';
	text-align: center;
	padding: 10px 0;
	margin-bottom: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.main-wrapper{
	padding: 60px 10px;
	font-size: 24px;
}

.font-icon-wrapper{
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
	width: 155px;
	text-align: center;
	vertical-align: top;
	i {
		display: block;
		font-size: 32px;
	}
	.label{
		font-family: 'Arial';
		font-size: 14px;
		line-height: 1.2;
		display: inline-block;
		vertical-align: top;
		margin-top: 5px;
	}
}