@font-face {
    font-family: 'NSPFileFormatsIcons';
    src: url('../fonts/flaticon/Flaticon.eot?v1.0');
    src: url('../fonts/flaticon/Flaticon.eot?#iefix') format('embedded-opentype'),
         // url('../fonts/flaticon/Flaticon.woff2?v1.0') format('woff2') ,
         url('../fonts/flaticon/Flaticon.woff?v1.0') format('woff') ,
         url('../fonts/flaticon/Flaticon.ttf?v1.0') format('truetype') ,
         url('../fonts/flaticon/Flaticon.svg#nilexregular?v1.0') format('svg') ;
    font-weight: normal;
    font-style: normal;
}
  
.f-ffi {
  font-family: "NSPFileFormatsIcons";
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  text-transform: none;
}

$icons: (
  "3dm-file-format" "f100",
  "3ds-file-format-symbol" "f101",
  "3g2-file-format-symbol" "f102",
  "3gp-file-format-variant" "f103",
  "7z-file-format-variant" "f104",
  "aac-file-format" "f105",
  "ai-file-format-symbol" "f106",
  "aif-file-format" "f107",
  "angel" "f108",
  "apk-file-format" "f109",
  "app-file-format-variant" "f10a",
  "asf-file-format-variant" "f10b",
  "asp-file-format-symbol" "f10c",
  "aspx-file-format" "f10d",
  "asx-multimedia-file-format" "f10e",
  "avi-file-format-variant" "f10f",
  "bak-file-format-symbol" "f110",
  "bat-file-format-symbol" "f111",
  "bin-file-format" "f112",
  "blank-file" "f113",
  "bmp-file-format-symbol" "f114",
  "cab-file-format" "f115",
  "cad-file-format-symbol" "f116",
  "cdr-file-format-symbol" "f117",
  "cer-file-format" "f118",
  "cfg-file-format-symbol" "f119",
  "cfm-file-format-symbol" "f11a",
  "cgi-file-format-symbol" "f11b",
  "class-file-format-variant" "f11c",
  "com-file-format-symbol" "f11d",
  "cpl-file-format-variant" "f11e",
  "cpp-file-format-symbol" "f11f",
  "crx-file-format-symbol" "f120",
  "csr-file-format" "f121",
  "css-file-format-symbol" "f122",
  "csv-file-format-symbol" "f123",
  "cue-file-format-symbol" "f124",
  "cur-file-format" "f125",
  "dat-file-format-variant" "f126",
  "db-file-format-variant" "f127",
  "dbf-file-format-symbol" "f128",
  "dds-file-format-symbol" "f129",
  "debian-file" "f12a",
  "dem-file-format-symbol" "f12b",
  "demon" "f12c",
  "dll-file-format-variant" "f12d",
  "dmg-file-format-symbol" "f12e",
  "dmp-file-format-symbol" "f12f",
  "doc-file-format-symbol" "f130",
  "docx-file-format" "f131",
  "drv-file-format-variant" "f132",
  "dtd-file-format-extension" "f133",
  "dwg-file-format-variant" "f134",
  "dxf-file-format-symbol" "f135",
  "elf-file" "f136",
  "elf-file-format-variant" "f137",
  "eml-file" "f138",
  "eps-file-format-symbol" "f139",
  "eps-file-format-variant" "f13a",
  "exe-file-format-symbol" "f13b",
  "fla-file-format-variant" "f13c",
  "flash-file-format" "f13d",
  "flv-file-format-symbol" "f13e",
  "fnt-file-format" "f13f",
  "fon-file-format-symbol" "f140",
  "gam-file-format-variant" "f141",
  "gbr-file-format-extension" "f142",
  "ged-file-format-symbol" "f143",
  "gif-file-format" "f144",
  "gpx-file-format-variant" "f145",
  "gz-file-format-symbol" "f146",
  "gzip-file-format-variant" "f147",
  "hqz-file-format" "f148",
  "html-file-with-code-symbol" "f149",
  "ibooks-file-format-symbol" "f14a",
  "icns-file-format" "f14b",
  "ico-file-format-variant" "f14c",
  "ics-file-format-symbol" "f14d",
  "iff-file-format" "f14e",
  "indd-file-format-variant" "f14f",
  "ipa-file" "f150",
  "iso-file-format" "f151",
  "iso-file-format-symbol" "f152",
  "jar-file-format" "f153",
  "jpg-image-file-format" "f154",
  "js-file-format-symbol" "f155",
  "jsp-file-format-symbol" "f156",
  "key-file-format-variant" "f157",
  "kml-file-format-variant" "f158",
  "kmz-file-format-symbol" "f159",
  "lnk-file-format-symbol" "f15a",
  "log-file-format" "f15b",
  "lua-file-format-symbol" "f15c",
  "m3u-file-format" "f15d",
  "m4a-file-format-symbol" "f15e",
  "m4v-file-format-variant" "f15f",
  "mach-o-file" "f160",
  "mach-o-file-format" "f161",
  "max-file-format-variant" "f162",
  "mdb-file-format-symbol" "f163",
  "mdf-file-format-variant" "f164",
  "mid-file-format" "f165",
  "mim-file-format" "f166",
  "mov-file-format-symbol" "f167",
  "mp3-file-format-variant" "f168",
  "mp4-file-format-symbol" "f169",
  "mpa-file-format" "f16a",
  "mpg-file-format-variant" "f16b",
  "msg-file" "f16c",
  "msg-file-format-variant" "f16d",
  "msi-file-format-symbol" "f16e",
  "nes-file-variant" "f16f",
  "object-file-format" "f170",
  "odb-file-format-variant" "f171",
  "odc-file-format-symbol" "f172",
  "odf-file-format-variant" "f173",
  "odg-file-format" "f174",
  "odi-file-format-symbol" "f175",
  "odp-file-format-symbol" "f176",
  "ods-file-format-symbol" "f177",
  "odt-file-format" "f178",
  "odt-file-format-symbol" "f179",
  "odx-file-format-extension" "f17a",
  "ogg-file-format-symbol" "f17b",
  "otf-file-format" "f17c",
  "otf-file-format-extension" "f17d",
  "pages-file-format-symbol" "f17e",
  "pct-file-format-symbol" "f17f",
  "pdb-file-format-variant" "f180",
  "pdf-file-format-symbol" "f181",
  "pif-file-format-variant" "f182",
  "pkg-file-format-variant" "f183",
  "pl-file-format-variant" "f184",
  "png-file-extension-interface-symbol" "f185",
  "pps-file-format-symbol" "f186",
  "ppt-file-format" "f187",
  "pptx-file-format-variant" "f188",
  "ps-file-format" "f189",
  "psd-file-format-variant" "f18a",
  "pub-file-format-symbol" "f18b",
  "python-file-symbol" "f18c",
  "ra-file-format" "f18d",
  "rar-file-format" "f18e",
  "raw-file-format-symbol" "f18f",
  "rm-file-format" "f190",
  "rom-file" "f191",
  "rom-file-format-variant" "f192",
  "rpm-file-format-symbol" "f193",
  "rss-file-format-symbol" "f194",
  "rtf-icon-format" "f195",
  "sav-file-format" "f196",
  "sdf-file-format" "f197",
  "sitx-file-format-variant" "f198",
  "sql-file-format-symbol" "f199",
  "sql-file-format-symbol-1" "f19a",
  "srt-file-format-symbol" "f19b",
  "svg-file-format-symbol" "f19c",
  "swf-file-format-symbol" "f19d",
  "sys-file-format" "f19e",
  "tar-file-variant" "f19f",
  "tex-file-format" "f1a0",
  "tga-file-format-symbol" "f1a1",
  "thm-file-format-symbol" "f1a2",
  "tiff-images-file-extension-symbol-for-interface" "f1a3",
  "tmp-icon-file-format" "f1a4",
  "torrent-file-format" "f1a5",
  "ttf-file-format-symbol" "f1a6",
  "txt-text-file-extension-symbol" "f1a7",
  "uue-file-format-symbol" "f1a8",
  "vb-file-symbol" "f1a9",
  "vcd-file-format-symbol" "f1aa",
  "vcf-file-format-variant" "f1ab",
  "vob-file-format-symbol" "f1ac",
  "wav-file-format-variant" "f1ad",
  "wma-file-format-symbol" "f1ae",
  "wmv-file-format-extension" "f1af",
  "wpd-file-format-symbol" "f1b0",
  "wps-file-format" "f1b1",
  "wsf-file-format-variant" "f1b2",
  "xhtml-icon-file-format" "f1b3",
  "xlr-file-format-variant" "f1b4",
  "xls-file-format-symbol" "f1b5",
  "xlsx-file-format" "f1b6",
  "xml-file-format-variant" "f1b7",
  "yuv-file-format-variant" "f1b8",
  "zip-compressed-files-extension" "f1b9",
  "zip-file" "f1ba",
);

@each $icon in $icons {
  .f-ffi-#{nth($icon, 1)}:before {
    // content: #{"\"\\"}"f" + nth($icon, 2);
    content: unquote("\"")+unquote(str-insert(nth($icon, 2),"\\", 1))+unquote("\"");
  }
}
